 


.app {
    padding: 40px 0px;
}


h2 {
    font-size: 28px;
    padding-left: 24px;
    margin-bottom: 12px;
    
}


/* .active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #088178;
    bottom: -4px;
    left: 0px;
    animation: slide 0.5s ease;
} */


h1 {
    padding: 12px 0;
    background-color: #a1a1a1;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 24px;
}
h2 {
    padding: 12px 0;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 24px;
}


ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    background-color: #999;
    height: 60px;
    margin-bottom: 24px;
}

li {
    list-style: none;
    position: relative;

}

li a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
    display: block;
    font-weight: 500;

}

li:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #088178;
    bottom: -4px;
    left: 0px;
    animation: slide 0.5s ease;
}
table, th ,tr{
    border:1px solid #ccc;
}
table{
    border-collapse:collapse;
}
thead {
    font-weight: 500;
}

button:hover {
    opacity: 0.7;
}

button.update {
    background-color: green;
    padding: 12px 24px;
}

.pd{
    padding: 15px;
}

button a {
    text-decoration: none;
    color: #fff;
}

table, th{
    border:1px solid black;
    padding: 10px;
}
tr{
    text-align: center;
}
table{
    width: 100%;
    border-collapse:collapse;
}

table:hover {
    background-color: #ccc;
}

tr:hover{
    background-color: #f7f5f5;
}



button {
    background: rgb(245, 240, 240);
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    width: 100px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
    cursor: default;
    margin: 3px 1px 0px 18px;
}
.chieudai{
    width: 100px;
    font-size: 13px;
}

span a {
    display: inline-block;
    transform: skew(21deg);
    color: #714da6;
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: rgb(20, 20, 20);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
}

button:hover {
    color: #fff;

}

button:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
}


